---
import AboutMe from "@/components/about/AboutMe.astro";
import Section from "@/components/common/Section.astro";
import Layout from "@/layouts/Layout.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "about-me");

const { imageWithText, services = [], stack = [] } = about?.data ?? {};
const baseUrl = Astro.site;
const imageUrl = imageWithText?.imageUrl
  ? `${baseUrl}${imageWithText.imageUrl}`
  : "";
---

<Layout
  title="About me"
  description=".NET developer passionate about building scalable, modern applications. Discover my services, and tech stack."
>
  <Section title="about" as="h1">
    <AboutMe />
  </Section>
  <Section title="services">
    <div class="mt-10 sm:mt-28 text-title-2 uppercase sm:text-center">
      {services.map((service) => <h1>{service}</h1>)}
    </div>
  </Section>
  <Section title="stack">
    <div class="mt-10 sm:mt-28 uppercase text-title-2 sm:text-center">
      {
        stack.map((tech) => (
          <h1 class="w-fit cursor-pointer items-center transition-opacity duration-300 ease-in-out hover:opacity-30 sm:mx-auto">
            <h1>{tech}</h1>
          </h1>
        ))
      }
    </div>
  </Section>
</Layout>
