---
import AboutMe from "@/components/about/AboutMe.astro";
import Section from "@/components/common/Section.astro";
import Layout from "@/layouts/Layout.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "about-me");

const { services = [], stack = [] } = about?.data ?? {};
---

<Layout
  title="About me"
  description="fullstack developer [node/react] passionate about building scalable, modern applications. Explore my services and technology stack."
>
  <Section
    padding="pt-10 pb-32"
    title="about"
    as="h1"
    titleClass="text-title-1"
  >
    <AboutMe />
  </Section>
  <Section title="services">
    <div
      class="mt-10 sm:mt-28 text-title-2 uppercase tracking-tighter sm:text-center"
    >
      {services.map((service) => <h1>{service}</h1>)}
    </div>
  </Section>
  <Section title="stack">
    <div
      class="mt-10 sm:mt-28 uppercase tracking-tighter text-title-2 sm:text-center"
    >
      {
        stack.map((tech) => (
          <h1 class="w-fit cursor-pointer  items-center transition-opacity duration-300 ease-in-out hover:opacity-30 sm:mx-auto">
            <h1>{tech}</h1>
          </h1>
        ))
      }
    </div>
  </Section>
</Layout>
