---
import Section from "@/components/common/Section.astro";
import WorkCollection from "@/components/work/WorkCollection.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Works"
  description="Welcome to my works page, where you can explore all my projects."
>
  <Section padding="pt-10 pb-32" title="Works" titleClass="text-title-1">
    <WorkCollection />
  </Section>
</Layout>
