<div class="pb-16 md:pb-24">
  <h1 class="text-title-1 uppercase leading-tight tracking-tighter">
    <span class="block">I’m</span>
    <span class="block">
      Nodari <span class="font-light">Georges</span>
    </span>
  </h1>

  <div class="ml-0 sm:ml-auto w-fit text-left mt-8">
    <p class="text-lg text-balance">
      I'm a <span class="font-semibold">fullstack developer [node/react]</span> who
      crafts robust <br /> backend and frontend systems. <br />
      Based in <span class="font-semibold">Brussels</span>, open to remote and
      on-site work.<br />
      Let’s build something <span class="font-semibold">great</span> together.
    </p>
  </div>
</div>
