<div class="pb-16 md:pb-24">
  <div class="flex items-end justify-between">
    <h1 class="text-title-1 uppercase leading-tight tracking-tighter">
      <span class="block">I’m</span>
      <span class="block">
        Nodari <br />
        <span class="font-light">Georges </span>
      </span>
    </h1>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="hidden sm:block size-14 md:size-16 lg:size-20"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 4.5-15 15m0 0h11.25m-11.25 0V8.25"></path>
    </svg>
  </div>

  <div class="ml-0 sm:ml-auto w-fit text-left mt-8">
    <p class="text-small sm:text-xl text-balance tracking-tighter">
      I'm a <span class="font-semibold">fullstack developer [node/react]</span> who
      crafts robust <br /> backend and frontend systems. <br />
      Based in <span class="font-semibold">Brussels</span>, open to remote and
      on-site work.<br />
      Let’s build something <span class="font-semibold">great</span> together.
    </p>
  </div>
</div>
