---
import ConnectLinks from "@/components/common/ConnectLinks.astro";
import Section from "@/components/common/Section.astro";
import Hero from "@/components/hero/Hero.astro";
---

<Section padding="pt-20 pb-32">
  <Hero />
  <div class="mt-24">
    <div class="ml-auto w-max text-left">
      <ConnectLinks />
    </div>
  </div>
</Section>
