<div class="pb-16 md:pb-24">
  <div class="flex items-center justify-between">
    <h1 class="text-title-1 uppercase leading-tight tracking-tighter">
      <span class="block">I’m</span>
      <span class="block">
        Nodari <br />
        <span class="font-light">Georges </span>
      </span>
    </h1>
  </div>

  <div class="ml-0 sm:ml-auto max-w-md w-fit text-left mt-8">
    <p class="text-small sm:text-xl text-balance tracking-tighter">
      I'm a <span class="font-semibold">fullstack developer [node/react]</span> who
      crafts robust backend and frontend systems. <br />
      Based in <span class="font-semibold">Brussels</span>, open to remote and
      on-site work.<br />
      Let’s build something <span class="font-semibold">great</span> together.
    </p>
  </div>
</div>
