---
import ConnectLinks from "@/components/common/ConnectLinks.astro";
import Section from "@/components/common/Section.astro";
import Hero from "@/components/hero/Hero.astro";
---

<Section padding="pt-10 pb-32">
  <Hero />
  <div class="mt-16 md:mt-24">
    <ConnectLinks />
  </div>
</Section>
