<div class="pb-16 md:pb-24">
  <h1 class="text-title-1 uppercase leading-tight">
    <span class="block">Hello I’m</span>
    <span class="block">
      Nodari <span class="font-light">Georges</span>
    </span>
  </h1>

  <div class="ml-0 sm:ml-auto w-fit text-left mt-6">
    <p class="text-2xl sm:text-3xl">
      I'm a <span class="font-semibold">.NET developer</span> crafting robust backend systems.<br />
      Based in <span class="font-semibold">Brussels</span>, open to remote and on-site work.<br />
      Let’s build something <span class="font-semibold">great</span> together.
    </p>
  </div>
</div>
