<h1 class="pb-24 text-left text-title-1 uppercase">
  <div class="mb-6 text-balance">Nodari</div>

  <div class="flex items-center gap-5">
    <div class="relative h-[40px] w-full max-w-[24rem] min-w-[40px] bg-black">
    </div>
    <div class="text-balance">Georges</div>
  </div>
</h1>
<p class="text-2xl leading-relaxed font-medium sm:text-3xl">
  Hello, I'm a <span class="font-semibold">.NET developer</span>
  <br />
  Based in <span class="font-semibold">Brussels</span>.
  <br />
  Let’s <span class="font-semibold">Work</span> together!
</p>
