@import "tailwindcss";

@font-face {
  font-family: "Archivo Black";
  src: url("/fonts/archivoblack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/notosans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "Noto Sans", sans-serif;
    font-size: clamp(1rem, calc(0.75rem + 1vw), 1.25rem);
    scroll-behavior: smooth;
    background-color: white;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: black;
    color: white;
  }
  /* --- TITLES --- */
  .text-title-1 {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(3rem, 10vw, 8rem);
    line-height: 1.2;
  }

  .text-title-2 {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(2rem, 5vw, 4rem);
    line-height: 1.2;
  }

  .text-title-3 {
    font-family: "Archivo Black", sans-serif;
    font-size: clamp(1.25rem, 3vw, 2rem);
    line-height: 1.2;
  }

  /* --- PARAGRAPHS --- */
  p {
    font-size: clamp(1.5rem, 2vw, 3rem);
  }

  .text-large {
    font-size: clamp(1.75rem, 2.5vw, 3.25rem);
  }

  .text-medium {
    font-size: 1.25rem;
  }

  .text-small {
    font-size: 1rem;
  }

  .text-xsmall {
    font-size: clamp(0.75rem, 1vw, 0.875rem);
  }

  button {
    cursor: pointer;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }
}
