@import "tailwindcss";

@font-face {
  font-family: "Archivo Black";
  src: url("/fonts/archivoblack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/opensans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: "Open Sans", sans-serif;
    font-size: clamp(1rem, calc(0.75rem + 1vw), 1.25rem);
    scroll-behavior: smooth;
    background-color: white;
    line-height: 1.625;
    letter-spacing: -0.025em;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: black;
    color: white;
  }

  h1,
  h2 {
    font-family: "Archivo Black", sans-serif;
  }

  h1 {
    font-size: clamp(1.75rem, calc(1.25rem + 2.5vw), 3.5rem);
  }

  h2 {
    font-size: clamp(1.5rem, calc(1rem + 2vw), 3rem);
  }

  .display {
    font-size: clamp(2rem, calc(1.5rem + 3vw), 4rem);
  }

  .small {
    font-size: clamp(0.875rem, calc(0.75rem + 0.5vw), 1rem);
  }
}
