---
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/common/Section.astro";
import HeadingRow from "@/components/common/HeadingRow.astro";
---

<Layout
  title="Contact"
  description="Get in touch to discuss your web projects, modern applications, API design, or any technical collaboration."
>
  <Section padding="pt-10 pb-32">
    <div class="mb-28 uppercase">
      <h1 class="text-title-1">get</h1>
      <h1 class="text-title-1">in</h1>
      <h1 class="text-title-1">touch</h1>
    </div>
    <HeadingRow
      title="contact"
      ctaExternal
      cta={{
        text: "LinkedIn",
        href: "https://www.linkedin.com/in/georges-nodari/",
      }}
    />
  </Section>
</Layout>
