---
import AboutMe from "@/components/about/AboutMe.astro";
import Section from "@/components/common/Section.astro";
---

<Section title="about" cta={{ text: "view all", href: "/about" }}>
  <AboutMe />
</Section>
