---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Home"
  description="Welcome to my Portfolio site. Here you can find my works, about me, and more."
>
  <h1 class="uppercase">GWelcome to My Astro Site</h1>
  <p class="small">
    This is a simple Astro site where you can explore my projects, blog posts,
    and more.
  </p>
</Layout>
