---
import WorkCard from "@/components/work/WorkCard.astro";
import { getCollection } from "astro:content";

const works = (await getCollection("works"))
  .filter((work) => work.data.published)
  .sort((a, b) => (b.data.year ?? 0) - (a.data.year ?? 0));
---

<div class="space-y-8
    divide-y
    divide-gray-100">
  {
    works.map((work) => (
      <WorkCard
        href={`/works/${work.id}`}
        title={work.data.title}
        tags={work.data.stack}
      />
    ))
  }
</div>
