---
import Section from "@/components/common/Section.astro";
import WorkCard from "@/components/work/WorkCard.astro";
import WorkCollection from "@/components/work/WorkCollection.astro";
---

<Section title="Works" cta={{ text: "view all", href: "/works" }}>
  <WorkCollection />
</Section>
